<div class="header">
    NINER INTERACT
</div>

<div class="topnav">
    <%= link_to 'Niner Interact', root_path %>
    <%= link_to 'Clubs', clubs_path, class: 'active' %>
    <%= link_to 'Meetings', club_meetings_path(:club_id) %>
    <%= link_to 'Posts', club_posts_path(:club_id) %>
    
    <div class = "loginbutton">
        <% if current_user %>
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
            <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
        <% end %>
    </div>
    <div class = "loginname">
        <% if current_user %>
            Signed in as <strong><%= current_user.name %></strong>!
        <% end %>
    </div>
</div>