<%= render 'topnav' %>
<%= render 'modal' %>

<div class="title">
  Listing Clubs
</div>
    
<a href="/clubs/new" class="new-club-button">New Club</a> 
    
<table id="clubs">
  <tr>
    <th>Club Name</th>
    <th>About Us</th>
    <th>Location</th>
    <th>Contact</th>
  </tr>
     
  <% @clubs.each do |club| %>
    <tr>
      <td><%= club.clubName %></td>
      <td><%= club.whoWeAre %></td>
      <td><%= club.location %></td>
      <td><%= club.email %></td>
      <td><%= link_to 'View', club_path(club) %></td>
      <td><%= link_to 'Edit', edit_club_path(club) %></td>
      <td><%= link_to 'Delete', club_path(club), method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
  <% end %>
</table>