<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="topnav.scss">
</head>
<body>

<div class="topnav">
    <a href="/welcome/index">Home</a>
    <a class ="active" href="#clubs">Clubs</a>
    <a href="blog">Blog</a>
    <div class="search-container">
    <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">Submit</button>
    </form>
    </div>
</div>
<h1>New Club</h1>
<%= form_for :club, url: clubs_path do |f| %>
    <p>
        Club Name
        <%= f.label :'' %><br>
        <%= f.text_field :clubName %>
    </p>
    
    <p>
        Who We Are
        <%= f.label :''  %><br>
        <%= f.text_field :whoWeAre  %>
    </p>
    
    <p>
        When do you meet?
        <%= f.label :'' %><br>
        <%= f.text_field :date %>
    </p>
    
    <p>
        Where do you meet?
        <%= f.label :'' %><br>
        <%= f.text_field :location %>
    </p>
    
    <p>
        Contact phone
        <%= f.label :'' %><br>
        <%= f.text_field :phone %>
    </p>
    
    <p>
        Contact email
        <%= f.label :'' %><br>
        <%= f.text_field :email %>
    </p>
    
    <p>
        <%= f.submit %>
    </p>
<% end %>
