<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="topnav.scss">
    <link rel="stylesheet" href="clubs.scss">
</head>
<body>

<div class="topnav">
    <%= link_to 'Home', '/welcome/index' %>
    <%= link_to'Clubs', '/clubs' %>
    <%= link_to'Blogs', '/blogs' %>
   
    <div class="search-container">
    <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">Submit</button>
    </form>
    </div>
</div>

<div class = title> 
    <%= @club.clubName %>
</div>
    
<div class = whoWeAre>
    whoweare
    <%= @club.whoWeAre %>
</div>

<div class = date>
    date
    <%= @club.date %>
</div>

<div>
    location
</div>

<div class = contact>
    phone
    <%= @club.phone %>
    email
    <%= @club.email %>
</div>
