<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="topnav.scss">
    <link rel="stylesheet" href="clubs.scss">
</head>

<body>
    <%= render 'topnav' %>
    <%= render 'modal' %>
    
    <div class="title"> 
        <%= @club.clubName %>
    </div>
    <p>
    <div class="whoWeAre">
        whoweare
        <%= @club.whoWeAre %>
    </div>
    </p>    
    
    <div class="date">
        date
        <%= @club.date %>
    </div>
    
    <p>
    <div class ="location">
        <%= @club.location %>
    </div>
    </p>
    
    <div class="contact">
        phone
        <%= @club.phone %>
        email
        <%= @club.email %>
    </div>
</body>