<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="topnav.scss">
    <link rel="stylesheet" href="clubs.scss">
</head>

<body>
    <%= render 'topnav' %>
    <%= render 'modal' %>
    
    <div class = "title">
        <%= @club.clubName %>
    </div>
    
    <div class = "row">
        <div class = "leftcolumn">
            <div class = "card">
                <%= @club.whoWeAre %>
            </div>
            <div class="card">
                <%= @club.location %>
            </div>
        </div>
        <div class = "rightcolumn">
            <div class="card">
                <%= @club.date %>
                <%= @club.email %>
                <%= @club.phone %>
            </div>
        </div>
    </div>    

</body>