<%= render 'topnav' %>

<div class = "title">
    NINER INTERACT
</div>
    
<div class = "row">
    <div class = "leftcolumn">
        <div class = "card">
            <h2>Name</h2>
            
            <p>
                <%= @club.name %>
            </p>
        </div>
            
        <div class = "card">
            <h2>Description</h2>
            
            <p>
                <%= @club.description %>
            </p>
        </div>
            
        <div class = "card">
            <h2>Contact</h2>
            
            <p>
                <%= @club.contact %>
            </p>
        </div>
    </div>
</div>

<%= link_to 'Back', clubs_path %>