<p>
    <%= @club.clubName %>
</p>

<p>
    <%= @club.whoWeAre %>
</p>

<p>
    <%= @club.date %>
</p>

<p>
    <%= @club.location %>
</p>

<p>
    <%= @club.phone %>
</p>

<p>
    <%= @club.email %>
</p>