<%= render 'topnav' %>

<div class = 'card'>
    <h2>Name</h2>
    <p><%= @club.name %></p>

    <h2>Description</h2>
    <p><%= @club.description %></p>

    <h2>Contact</h2>
    <p><%= @club.contact %></p>
</div>

<div class='row'>
    <div class= 'column'>
        <div class= 'card'>
                <h2>Meetings</h2>
                <%= render @club.meetings %>
            
                <h2>Add a meeting:</h2>
                <%= render 'meetings/form' %>
        </div>
    </div>
        
    <div class= 'column'> 
        <div class= 'card'>
                <h2>Posts</h2>
                <%= render @club.posts %>
                
                <h2>Add a post:</h2>
                <%= render 'posts/form' %>
        </div>
    </div>
</div>


<%= link_to 'Back', clubs_path, class: 'button' %>
