<%= form_for :club, url: clubs_path do |f| %>
    <% if @club.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@club.errors.count, "error") %> prohibited this club from being saved:
            </h2>
        
            <ul>
                <% @club.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
  
    <p>
        Name<br>
        <%= f.text_field :name %>
    </p>
        
    <p>
        Description<br>
        <%= f.text_area :description  %>
    </p>
        
    <p>
        Contact<br>
        <%= f.text_area :contact %>
    </p>
        
    <p>
        <%= f.submit %>
    </p>
<% end %>