<%= render 'topnav' %>

<div class="title">
  Listing Meetings
</div>
    
<%= link_to "Select club to create meeting", clubs_path, class: 'new-blog-button' %>
    
<table id="clubs">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Contact</th>
  </tr>
     
  <% @meetings.each do |club| %>
    <tr>
      <td><%= meeting.purpose %></td>
      <td><%= meeting.description %></td>
      <td><%= meeting.contact %></td>
      <td><%= link_to 'View', club_path(club) %></td>
      <td><%= link_to 'Edit', edit_club_path(club) %></td>
      <td><%= link_to 'Delete', club_path(club), method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
  <% end %>
</table>