<%= render 'topnav' %>

<div class="title">
  Listing Clubs
</div>
    
<a href="/meetings/new" class="new-meeting-button">New Club</a> 
    
<table id="clubs">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Contact</th>
  </tr>
     
  <% @clubs.each do |club| %>
    <tr>
      <td><%= club.name %></td>
      <td><%= club.description %></td>
      <td><%= club.contact %></td>
      <td><%= link_to 'View', club_path(club) %></td>
      <td><%= link_to 'Edit', edit_club_path(club) %></td>
      <td><%= link_to 'Delete', club_path(club), method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
  <% end %>
</table>