<%= render 'topnav' %>

<div class="title">
  Listing Meetings
</div>
    
<%= link_to "Select Club to Create Meeting", clubs_path, class: 'button' %>
    
<table id="wholeTable">
  <tr>
    <th>Name</th>
    <th>Timestamp</th>
    <th>Location</th>
    <th>Club</th>
  </tr>
     
  <% @meetings.each do |meeting| %>
    <tr>
      <td><%= meeting.purpose %></td>
      <td><%= meeting.timeStamp %></td>
      <td><%= meeting.location %></td>
      <td><%= link_to meeting.club.name, club_path(meeting.club) %></td>
    </tr>
  <% end %>
</table>