<%= render 'topnav' %>

<div class="title">
    Listing Blogs
</div>
    
<%= link_to "Submit new post", "/blogs/new", class: 'button' %>

<% if (current_user) %>
<table id="wholeTable">
  <tr>
    <th>Blog Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= link_to 'View', blog_path(blog) %></td>
      <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
      <td><%= link_to 'Delete', blogs_path(blog), method: :delete, data: { confirm: 'Are you sure?' }%></td>
    </tr>
  <% end %>
<% else %>
<table id="wholeTable">
  <tr>
    <th>Blog Title</th>
    <th></th>
  </tr>
  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.title %></td>
      <td><%= link_to 'View', blog_path(blog) %></td>
    </tr>
  <% end %>
</table>
<% end %>