<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="topnav.scss">
    <link rel="stylesheet" href="blogs.scss">
</head>

<body>
<<<<<<< HEAD
<div class="topnav">
    <%= link_to 'Home', '/welcome/index' %>
    <%= link_to'Clubs', '/clubs' %>
    <%= link_to'Blogs', '/blogs' %>
    <div class="search-container">
    <form action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">Submit</button>
        <loginbutton onclick="document.getElementById('id01').style.display='block'">Login</loginbutton>
    </form>
    </div>
</div>

<div class = "title">
    <%= @blog.title %>
</div>

<div class = "text">
    <%= @blog.text %>
</div>

=======
    <%= render 'topnav' %>

    <div id="id01" class="modal">
        <%= render 'modal' %>
    </div>

    <script>
    var modal = document.getElementById('id01');
>>>>>>> c267f75df9a76bd49a17bc9f0675101e39b9e4c2

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>
</body>
