<%= render 'topnav' %>

<div class="title">
    Listing Posts
</div>

<%= link_to "Select Club to Create Post", clubs_path, class: 'button' %>

<table id="wholeTable">
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Club</th>
    </tr>
  
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.body %></td>
      <td><%= link_to post.club.name, club_path(post.club) %></td>
    </tr>
  <% end %>
</table>