<%= render 'topnav' %>

<div class="title">
    Listing Posts
</div>

<% if (current_user) %>
  <table id="wholeTable">
    <tr>
      <th>Post Title</th>
      <th>Post Body</th>
    </tr>
  
  <% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.body %></td>
  </tr>
  <% end %>
  </table>
<% else %>
  <table id="wholeTable">
    <tr>
      <th>Blog Title</th>
      <th>Blog Body</th>
    </tr>
  
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.body %></td>
    </tr>
  <% end %>
  </table>
<% end %>